:root {
  --font: 'Merriweather', serif;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --dark: #363636;
  --light: #a8a7a7;
  --brand-1: #474747;
  --brand-2: #99b898;
  --brand-3: #feceab;
}
