:root {
  --font: 'Merriweather', serif;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --dark: #0F0A0A;
  --light: #F5EFED;
  --brand-1: #2292A4;
  --brand-2: #BDBF09;
  --brand-3: #D96C06;
}
