:root {
  --font: 'Merriweather', serif;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --dark: #0f0a0a;
  --light: #f5efed;
  --brand-1: #2292a4;
  --brand-2: #bdbf09;
  --brand-3: #d96c06;
}
